<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Food4Bees Administrative Console</display-name>
  <description>This is the administrative console for the Food4Bees Index database.</description>
  <servlet>
    <servlet-name>VegetationAddServlet</servlet-name>
    <servlet-class>nl.food4bees.backend.vegetation.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SyncPlantsServlet</servlet-name>
    <servlet-class>nl.food4bees.backend.SyncDatabaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>nl.food4bees.backend.user.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserAuthenticateServlet</servlet-name>
    <servlet-class>nl.food4bees.backend.user.AuthenticateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>nl.food4bees.backend.user.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewPasswordServlet</servlet-name>
    <servlet-class>nl.food4bees.backend.user.NewPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>nl.food4bees.backend.user.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyRegistrationServlet</servlet-name>
    <servlet-class>nl.food4bees.backend.user.VerifyRegistrationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>nl.food4bees.backend.user.LogOutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PlantAddServlet</servlet-name>
    <servlet-class>nl.food4bees.backend.plant.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserEditServlet</servlet-name>
    <servlet-class>nl.food4bees.backend.user.EditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PlantEditServlet</servlet-name>
    <servlet-class>nl.food4bees.backend.plant.EditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportDatabaseServlet</servlet-name>
    <servlet-class>nl.food4bees.backend.ExportDatabaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PlantImageAddServlet</servlet-name>
    <servlet-class>nl.food4bees.backend.plant_image.AddServlet</servlet-class>
    <multipart-config>
      <location>/tmp/f4bi</location>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>PlantImageEditServlet</servlet-name>
    <servlet-class>nl.food4bees.backend.plant_image.EditServlet</servlet-class>
    <multipart-config>
      <location>/tmp/f4bi</location>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>VegetationAddServlet</servlet-name>
    <url-pattern>/add-vegetation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SyncPlantsServlet</servlet-name>
    <url-pattern>/sync-plants</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/add-user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAuthenticateServlet</servlet-name>
    <url-pattern>/authenticate-user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/reset-password</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewPasswordServlet</servlet-name>
    <url-pattern>/new-password</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/register-user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyRegistrationServlet</servlet-name>
    <url-pattern>/verify-registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlantAddServlet</servlet-name>
    <url-pattern>/add-plant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserEditServlet</servlet-name>
    <url-pattern>/edit-user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlantEditServlet</servlet-name>
    <url-pattern>/edit-plant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportDatabaseServlet</servlet-name>
    <url-pattern>/export-db</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlantImageAddServlet</servlet-name>
    <url-pattern>/add-plant-image</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlantImageEditServlet</servlet-name>
    <url-pattern>/edit-plant-image</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>nl.food4bees.backend.user.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>nl.food4bees.backend.ServletContextListener</listener-class>
  </listener>
</web-app>
