<html>
  <head>
    <title>${subject}</title>
  </head>
  <body>
    <p>Dear ${recipientName},</p> 

    <p>You have requested a password recovery via the Food4Bees
    website. Please, follow <a href="${url}">this</a> link
    in order to verify your email address and return back to the
    Food4Bees website.</p>

    <p>If you do not know what this is all about, then somebody else
    has requested a password change for the Food4Bees website on your
    behalf. In this case, it is enough to delete this message.</p>

    <p>This email verification token will expire in twenty-four
    hours.</p>

    <p>Sincerely yours,</p>

    <p>${senderName}</p>
  </body>
</html>
