<html>
  <head>
    <title>${subject}</title>
  </head>
  <body>
    <p>Dear ${recipientName},</p> 

    <p>Thank you for registering at the Food4Bees website. Please,
    follow <a href="${url}">this</a> link in order to verify your email
    address and return back to the Food4Bees website.</p>

    <p>If you do not know what this is all about, then somebody else
    has requested a registration for the Food4Bees website for you.
    In this case, it is enough to delete this message.</p>

    <p>Sincerely yours,</p>

    <p>${senderName}</p>
  </body>
</html>
